<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Botões</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Botões</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1>Navegação</h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit temporibus facere repellat itaque consequuntur numquam accusantium! Tempora, itaque amet tempore necessitatibus excepturi eius voluptatem voluptate corrupti at non similique ea.</p>
</ion-content>
