<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ponto Mobile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <h4>Sistema de Grid</h4>
  <ion-grid>
    <ion-row>
      <ion-col size="8">Conteudo 1</ion-col>
      <ion-col size="4">Conteudo 2</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="6">Conteudo 1</ion-col>
      <ion-col size="3" offset="3">Conteudo 2</ion-col>
    </ion-row>
  </ion-grid>

  <h4>Grid - alinhamento textos (ion-text-start, ion-text-end, ion-text-center)</h4>
  <ion-grid>
    <ion-row >
      <ion-col class="ion-text-start" size="4"> 1</ion-col>
      <ion-col class="ion-text-center" size="4"> 2</ion-col>
      <ion-col class="ion-text-end" size="4"> 3</ion-col>
    </ion-row>
  </ion-grid>

  <h4>Grid - alinhamento vertical </h4>
  <ion-grid>
    <ion-row class="ion-align-items-start">
      <ion-col size="4"> 1</ion-col>
      <ion-col size="4"> 2</ion-col>
      <ion-col size="4"> 3 <br/> +<br/> +<br/> +</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="4"> 1</ion-col>
      <ion-col size="4"> 2</ion-col>
      <ion-col size="4"> 3 <br/> +<br/> +<br/> +</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="ion-align-items-end">
      <ion-col size="4"> 1</ion-col>
      <ion-col size="4"> 2</ion-col>
      <ion-col size="4"> 3 <br/> +<br/> +<br/> +</ion-col>
    </ion-row>
  </ion-grid>


  <h1>Título do App</h1>
  
  <ion-button>Cadastrar</ion-button>

  <ion-button href="">Link</ion-button>

  <ion-button color="secondary">Padrão</ion-button>

  <ion-button color="tertiary">Padrão</ion-button>

  <ion-button color="warning">Padrão</ion-button>

<ion-button color="danger">Padrão</ion-button>
   
<h4>Expandido</h4>
<ion-button expand="full">Full</ion-button>

<ion-button expand="block">Block</ion-button>

<ion-button shape="round">shape</ion-button>

<h4>preenchido</h4>
<ion-button fill="outline" expand="full" color="warning">outline</ion-button>

<h4>Icones</h4>

<ion-button size="large" expand="full" color="warning" shape="round">outline</ion-button>

<ion-button>
  <ion-icon name="checkmark-done-outline"> Verificar</ion-icon>
</ion-button>

<h4>Cads</h4>
<ion-card mode="ios"> 
  <ion-img src="https://a.cdn-hotels.com/gdcs/production156/d691/3d64b612-6715-43f7-b613-66b37a230b55.jpg?impolicy=fcrop&w=800&h=533&q=medium"></ion-img>
  <ion-card-content>
    <ion-card-title>
      Lorem ipsum dolor sit amet 
    </ion-card-title>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos accusantium eius voluptatibus deleniti et commodi placeat, vel cumque necessitatibus consectetur, consequuntur perferendis facere maxime itaque ipsa aliquam enim eligendi iste!</p>
  </ion-card-content>
</ion-card>

<ion-card color="tertiary" mode="md"> 
  <ion-img src="https://a.cdn-hotels.com/gdcs/production156/d691/3d64b612-6715-43f7-b613-66b37a230b55.jpg?impolicy=fcrop&w=800&h=533&q=medium"></ion-img>
  <ion-card-content>
    <ion-card-title>
      Lorem ipsum dolor sit amet 
    </ion-card-title>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos accusantium eius voluptatibus deleniti et commodi placeat, vel cumque necessitatibus consectetur, consequuntur perferendis facere maxime itaque ipsa aliquam enim eligendi iste!</p>
  </ion-card-content>
</ion-card>


<h4>cards com cabeçalho</h4>
<ion-card color="light"> 
  <ion-card-header>
    Lorem Ipsum
  </ion-card-header>
  <ion-card-content>
    <ion-card-title>
      Lorem ipsum dolor sit amet 
    </ion-card-title>
    <ion-card-subtitle>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos accusantium eius voluptatibus deleniti et commodi placeat, vel cumque necessitatibus consectetur, consequuntur perferendis facere maxime itaque ipsa aliquam enim eligendi iste!
    </ion-card-subtitle>
    
  </ion-card-content>
</ion-card>

<h4>Listagem de itens</h4>
<ion-card color="light"> 
  <ion-item href="https://google.com">
    <ion-label>
      <ion-icon slot="start" name="add"></ion-icon>
      1. Lorem ipsum apple-mobile-web-app-status-bar-style
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="add"></ion-icon>
    <ion-label>
      2. Lorem ipsum apple-mobile-web-app-status-bar-style
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <ion-icon slot="start" name="add"></ion-icon>
      3. Lorem ipsum apple-mobile-web-app-status-bar-style
    </ion-label>
  </ion-item>
  
</ion-card>

<h4>Listas</h4>
<ion-list>
  <ion-item>
    <ion-label>
      1. Lorem ipsum apple-mobile-web-app-status-bar-style
    </ion-label>
  </ion-item>
</ion-list>
<ion-list>
  <ion-item>
    <ion-label>
      2. Lorem ipsum apple-mobile-web-app-status-bar-style
    </ion-label>
  </ion-item>
</ion-list>
<ion-list>
  <ion-item>
    <ion-label>
      3. Lorem ipsum apple-mobile-web-app-status-bar-style
    </ion-label>
  </ion-item>
</ion-list>

<h4>Lista com Avatar</h4>
<ion-list>
  <ion-item>
    <ion-avatar>
      <ion-img src="https://a.cdn-hotels.com/gdcs/production156/d691/3d64b612-6715-43f7-b613-66b37a230b55.jpg?impolicy=fcrop&w=800&h=533&q=medium" width="200px" height="200px"></ion-img>
    </ion-avatar>
      <ion-label>1. Lorem ipsum apple-mobile-web-app-status-bar-style</ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <ion-img src="https://a.cdn-hotels.com/gdcs/production156/d691/3d64b612-6715-43f7-b613-66b37a230b55.jpg?impolicy=fcrop&w=800&h=533&q=medium" width="200px" height="200px"></ion-img>
    </ion-avatar>
      <ion-label> Luan Nogueira</ion-label>
  </ion-item>
</ion-list>

<h4>Listas com Slide</h4>
<ion-list>
  <ion-item-sliding>
    <ion-item>
      <ion-label>
        1. Lorem ipsum apple-mobile-web-app-status-bar-style
      </ion-label>
    </ion-item>
    <ion-item-options>
      <ion-item-option>
        <ion-icon slot="start" name="create"></ion-icon>  
        Alterar
      </ion-item-option>
      
      <ion-item-option color="danger">
        <ion-icon slot="start" name="trash"></ion-icon>       Excluir</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>

<h4>Componentes de entrada de dados (floating, fixed e stacked)</h4>

<ion-item>
  <ion-label position="floating">Seu Nome: </ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="fixed">Seu Nome: </ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="stacked">Seu Nome: </ion-label>
  <ion-input></ion-input>
</ion-item>

<h4>Componentes de entrada de dados (value, placeholder, clearinout)</h4>

<ion-item>
  <ion-label>Nome: </ion-label>
  <ion-input value="Luan Nogueira"></ion-input>
</ion-item>

<ion-item>
  <ion-label>Nome: </ion-label>
  <ion-input placeholder="Seu nome"></ion-input>
</ion-item>

<ion-item>
  <ion-label >Nome: </ion-label>
  <ion-input clearInput placeholder="Luan Nogueira"></ion-input>
</ion-item>

<h4>Componentes de entrada de dados (text, number, password, email, tel, url. search)</h4>

<ion-item>
  <ion-label >Numero: </ion-label>
  <ion-input clearInput type="number" placeholder="Luan Nogueira"></ion-input>
</ion-item>

<ion-item>
  <ion-label >Nome: </ion-label>
  <ion-input clearInput type="number" placeholder="Luan Nogueira"></ion-input>
</ion-item>

<ion-item>
  <ion-label >Senha: </ion-label>
  <ion-input clearInput type="password" placeholder="Luan Nogueira"></ion-input>
</ion-item>

<ion-item>
  <ion-label >email: </ion-label>
  <ion-input clearInput type="email" placeholder="Luan Nogueira"></ion-input>
</ion-item>

<ion-item>
  <ion-label >email: </ion-label>
  <ion-input clearInput type="url" placeholder="Luan Nogueira"></ion-input>
</ion-item>



</ion-content>

