<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ponto Mobile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
 

  <h1>Título do App</h1>
  
  <ion-button>Cadastrar</ion-button>

  <ion-button href="">Link</ion-button>

  <ion-button color="secondary">Padrão</ion-button>

  <ion-button color="tertiary">Padrão</ion-button>

  <ion-button color="warning">Padrão</ion-button>

<ion-button color="danger">Padrão</ion-button>
   
<h4>Expandido</h4>
<ion-button expand="full">Full</ion-button>

<ion-button expand="block">Block</ion-button>

<ion-button shape="round">shape</ion-button>

<h4>preenchido</h4>
<ion-button fill="outline" expand="full" color="warning">outline</ion-button>

<h4>Icones</h4>

<ion-button size="large" expand="full" color="warning" shape="round">outline</ion-button>

<ion-button>
  <ion-icon name="checkmark-done-outline"> Verificar</ion-icon>
</ion-button>

</ion-content>

